<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <h2 th:text="'List of recipes!'">List of Recipes</h2>

    <div th:each="recipe: ${recipes}">
        <h3 th:text="${recipe.name}">Name of the dish</h3>
        <p th:text="${recipe.directions}">Steps</p>
        <p th:text="${recipe.difficulty}">Steps</p>
        <p th:text="${'Prep Time: ' + recipe.prepTime}">Steps</p>
        <p th:text="${'Cook Time: ' + recipe.cookTime}">Steps</p>
        <p th:text="${'Source: ' + recipe.source}">Steps</p>
        <p th:text="${'Link: ' + recipe.url}">Steps</p>
        <ul>
           <li th:each="ingredient: ${recipe.ingredients}">
               <span th:text="${ingredient.description + ':' + ingredient.amount}"></span>
           </li>
        </ul>

    </div>

</body>
</html>